<%- include('includes/head', { pageTitle: 'An error occured' }) %>
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>404</h1>
        <p>Could not find ressource</p>
        <p><a class="btn" href="/">Back to savety!</a></p>
    </main>

<%- include('includes/footer') %>