<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/aside') %> 
    <main>
      <h1>Oops, something went wrong!</h1>
      <p>
        Unfortunately, something went wrong on the server.<br>
        We're doing our best to fix it as soon as possible.
      </p>
    </main>
  </body>
</html>