header p {
    margin: 12px;
}

header {
    margin-bottom: 64px;
}

h1 {
    font-size: 48px;
    color: rgb(71, 62, 62);
    margin: 0;
}

a {
    padding: 0px 48px;
    background-color: rgb(167, 1, 78);
    color: white;
    border: 1px solid rgb(167, 1, 78);
    border-radius: 4px;
    font-size: 24px;
    display: inline-block;
    margin: 0px;
}

a:hover {
    background-color: rgb(189, 12, 90);
    text-decoration: none;
}

ol {
    list-style: none;
    width: 500px;
    margin: 36px auto 0 auto;
    padding: 0;
}

li {
    padding: 16px;
    margin: 32px;
    background-color: rgb(223, 136, 124);
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

li h2 {
    font-family: 'Oswald', sans-serif;
    color: rgb(78, 13, 5);
}

.daily-goal {
    margin: 12px;
    color: rgb(71, 29, 22);
}

.highlight-goal {
    background-color: rgb(226, 115, 101);
}